In [1]:
import pandas as pd
import pymongo
import os

In [2]:
collection="LoandefaultData"
database="JAGA"

In [3]:
from dotenv import load_dotenv
load_dotenv()

MONGO_DB_URL = os.getenv("MONGO_DB_URL")

In [4]:
mongoclient=pymongo.MongoClient(MONGO_DB_URL)
collection=mongoclient[database][collection]
df=pd.DataFrame(list(collection.find()))

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   _id             255347 non-null  object
 1   LoanID          255347 non-null  object
 2   Age             255347 non-null  int64
 3   Income          255347 non-null  int64
 4   LoanAmount      255347 non-null  int64
 5   CreditScore     255347 non-null  int64
 6   MonthsEmployed  255347 non-null  int64
 7   NumCreditLines  255347 non-null  int64
 8   InterestRate    255347 non-null  float64
 9   LoanTerm        255347 non-null  int64
 10  DTIRatio        255347 non-null  float64
 11  Education       255347 non-null  object
 12  EmploymentType  255347 non-null  object
 13  MaritalStatus   255347 non-null  object
 14  HasMortgage     255347 non-null  object
 15  HasDependents   255347 non-null  object
 16  LoanPurpose     255347 non-null  object
 17  HasCoSigner     255347 non-null  object
 18  Default         255347 non-null  int64
dtypes: float64(2), int64(8), object(9)
memory usage: 37.0+ MB

In [7]:
df

,_id,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,6860df953b4ba14f44350261,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,6860df953b4ba14f44350262,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,6860df953b4ba14f44350263,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,6860df953b4ba14f44350264,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,6860df953b4ba14f44350265,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255342,6860df963b4ba14f4438e7cf,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,Bachelor's,Full-time,Married,No,No,Other,No,0
255343,6860df963b4ba14f4438e7d0,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,High School,Part-time,Divorced,No,No,Home,No,1
255344,6860df963b4ba14f4438e7d1,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,High School,Self-employed,Married,Yes,Yes,Auto,Yes,0
255345,6860df963b4ba14f4438e7d2,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,High School,Part-time,Single,Yes,Yes,Other,No,0
255346,6860df963b4ba14f4438e7d3,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,Bachelor's,Unemployed,Divorced,Yes,No,Education,Yes,0